body{
    background: url('meme.jpg');
}

p {
    font-size: 42px;
    font-family: arial;
}

.top {
    position: absolute;
    left: 48px;
    top: 84px;
}

.bottom {
    position: absolute;
    left: 96px;
    top: 384px;
}